#00 * * * * root env - `cat /root/env.txt` /app/dcc-metadata-indexer/run2.sh --storage-access-token $REDWOOD_ACCESS_TOKEN --server-host $REDWOOD_SERVER --skip-uuid-directory /app/dcc-metadata-indexer/redacted --skip-program TEST --skip-project TEST --es-service $ES_SERVICE >> /app/dcc-metadata-indexer/es-jsonls/log.txt  2>&1
00 * * * * root env - `cat /root/env.txt` /usr/bin/flock -w 0 /app/dcc-metadata-indexer/cron.lock /app/dcc-metadata-indexer/cron.sh > /app/dcc-metadata-indexer/logs/log.txt  2>&1
#*/1 * * * * root env - `cat /root/env.txt` /app/dcc-metadata-indexer/debug.sh --storage-access-token $REDWOOD_ACCESS_TOKEN --server-host $REDWOOD_SERVER --skip-uuid-directory /app/dcc-metadata-indexer/redacted --skip-program TEST --skip-project TEST --es-service $ES_SERVICE >> /app/dcc-metadata-indexer/es-jsonls/debulog.txt 2>&1
# An empty line is required at the end of this file for a valid cron file.

